.block { display: block; }
SPAN.image { text-align: center; }

TABLE.gallery, TABLE.photosets {
  width: 590px;
  border-spacing: 5px;
  margin: 0 0px 0 -5px;
  padding: 0;
  }
TABLE.gallery TD, TABLE.photosets TD {
  padding: 5px;
  background: #03161D;
  border-radius: 5px;
  -moz-border-radius: 5px;
  vertical-align: top;
  font-size: .9em;
  color: #666;
  }
SPAN.flickr-go {
  display: block;
  position: absolute;
  background: #111;
  padding: 6px 5px 4px 8px;
  color: white;
  opacity: .7;
  border-radius: 4px;
  -moz-border-radius: 4px;
  margin: -5px 0 0 -5px;
  text-shadow: #000 1px 1px;
  display: none;
  }
TD IMG {
  border-radius: 3px;
  -moz-border-radius: 3px;
  }
TD .caption, TD H2 {
  text-shadow: #111 1px 1px;
  padding: 2px 5px;
  line-height: 120%;
  }
TD H2 A {
  color: #A92A81 !important;
  }
TD A { text-decoration: none; }

SPAN.lighter { color: #888; }

DIV.flickr-page-nav, DIV.gallery-description {
  padding: 10px;
  background: #03161D;
  margin-top: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  color: #777;
  text-shadow: #000 1px 1px;
  }
DIV.gallery-description {
  margin-top: 0;
  margin-bottom: 10px;
  }
DIV.gallery-description .text { float: left; width: 70% }
DIV.gallery-description .back { 
  float: right;
  font-size: 1.5em;
  }
DIV.gallery-description H2 { margin-top: 0; margin-bottom: 0px; }
DIV.gallery-description P { margin-bottom: 0; margin-top: 5px;  }
DIV.flickr-page-nav DIV.total { float: left; }
DIV.flickr-page-nav DIV.total SPAN { display: inline-block; padding: 2px 5px; }
DIV.flickr-page-nav DIV.nav { float: right; }
DIV.flickr-page-nav DIV.nav SPAN,
DIV.flickr-page-nav DIV.nav A { 
  display: inline-block;
  padding: 2px 5px;
  text-decoration: none;
  border: 1px solid black;
  background: #2c2c2c;
  margin-left: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  }
DIV.flickr-page-nav .selected { font-weight: bold; background: #A92A81 !important; color: #fff; }

#flickr-wrapper {
  width: 580px;
  }